DB_URL=jdbc:postgresql://localhost:5432/ai.chat.kz
DB_USER=
DB_PASSWORD=

AI_BASE_URL=https://generativelanguage.googleapis.com
AI_API_KEY=
AI_MODEL=gemini-2.5-flash
AI_TEMPERATURE=0.7

JWT_SECRET=
JWT_ACCESS_TOKEN_MINUTES=10080
