DB_URL=jdbc:postgresql://localhost:5432/ai.chat.kz
DB_USER=postgres
DB_PASSWORD=123

AI_BASE_URL=https://openrouter.ai/api/v1
AI_API_KEY=
AI_MODEL=openai/gpt-4o-mini
AI_TEMPERATURE=0.7

JWT_SECRET=
JWT_ACCESS_TOKEN_MINUTES=30
